<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hotel Booking{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    {% include 'layout/header.html' %}

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'layout/footer.html' %}

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>